@page "/win"

<div class="win-screen">
    <div class="overlay">
        <h1 class="title">MISSION SUCCESS</h1>
        <p class="subtitle">You made it to Mars!</p>
        <NavLink class="btn" href="/">Return to Main Menu</NavLink>
    </div>
</div>
